.row {
    display: inline;
    width: 100%;
}

.first_div, .second_div, .third_div {
    display: inline-block;
    background-color: blue;
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.second_div{
    background-color: blueviolet;
}

.third_div{
    background-color: chocolate;
}